@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Outfit',sans-serif;
  min-height:100vh;
  color:white;

  background:
  radial-gradient(
    circle at top left,
    #8b5cf6 0%,
    #0f172a 40%
  );

  background-color:#0f172a;
}

button{
  font-family:'Outfit',sans-serif;
  cursor:pointer;
}